<!DOCTYPE html>
<html>
<head>
    <title>Colored Text with Buttons Example</title>
</head>
<body>
    <h2>USER</h2>
    <p><button style="background-color: green; color: white;">Post</button>     app_user/user/register/<strong> -User Register</strong></p>
    <p><button style="background-color: green; color: white;">Post</button>     app_user/login/token/<strong> -User Login</strong></p>
    <p><button style="background-color: green; color: white;">Post</button>     app_user/user/resetpassword/mail/<strong> -resetpassword</strong></p>
    <p><button style="background-color: green; color: white;">Post</button>     app_user/reset/password/<strong> -setting new password</strong></p>

    <br><p>CART</p>
    <p><button style="background-color: green; color: white;">Post</button>     app_user/cart/add/<strong> -Add To CART</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       app_user/cart/list/<strong> -cart view</strong></p>
    <p><button style="background-color: orange; color: white;">PATCH</button>       app_user/cart/update/{id}/<strong> -cart Update</strong></p>

    <br><p>ADDRESS</p>
    <p><button style="background-color: green; color: white;">Post</button>     app_user/address/create/<strong> -Create Address</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       app_user/address/list/<strong> -address list</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       app_user/address/detail/{id}/<strong> -address detail</strong></p>
    <p><button style="background-color: orange; color: white;">PUT</button>     app_user/address/update/{id}/<strong> -address update</strong></p>
    <p><button style="background-color: orange; color: white;">PATCH</button>       app_user/address/update/{id}/<strong> -address update</strong></p>
    <p><button style="background-color: red; color: white;">DELETE</button>     app_user/address/delete/{id}/<strong> -address delete</strong></p>

    <br><p>PROFILE</p>
    <p><button style="background-color: green; color: white;">Post</button>     app_user/profile/create/<strong> -Create Profile</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       app_user/profile/<strong> -profile view</strong></p>
    <p><button style="background-color: orange; color: white;">PUT</button>     app_user/profile/update/{id}/<strong> -profile update</strong></p>
    <p><button style="background-color: orange; color: white;">PATCH</button>       app_user/profile/update/{id}/<strong> -profile update</strong></p>
    <p><button style="background-color: red; color: white;">DELETE</button>     app_user/profile/delete/{id}/<strong> -profile delete</strong></p>

    <br><p>ORDER</p>
    <p><button style="background-color: green; color: white;">POST</button>     app_user/order/add/<strong> -Add Order</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       app_user/order/list/<strong> -order list</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       app_user/order/detail/{id}/<strong> -order detail</strong></p>
    <p><button style="background-color: green; color: white;">POST</button>     app_user/order/now/<strong> -Buy Now</strong></p>


    <h2><br>ADMIN</h2>
    <p><strong>CATEGORY</strong></p>
    <p><button style="background-color: green;  color: white;">Post</button>        category/create/ <strong>-Create Category</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       category/list/ <strong>-Category List</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       category/detail/{id}/<strong>-Category Detail</strong></p>
    <p><button style="background-color: orange; color: white;">PUT</button>         category/update/<em>{id}/</em> <strong>-Update Category</strong></p>

    <br><p>PRODUCT</p>
    <p><button style="background-color: green; color: white;">Post</button>         product/create/ <strong>-Create Product</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>        product/list/ <strong>-Product List</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       products/detail/{id}/<strong>-Product Detail</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       products/update/{id}/<strong>-Update Product</strong></p>
    <p><button style="background-color: orange; color: white;">DELETE</button>      products/delete/{id}/<strong>-Delete Product</strong></p>
    
    <br><p>USER</p>
    <p><button style="background-color: blue; color: white;">GET</button>       user/list/ <strong>-User List</strong></p>
    <p><button style="background-color: red; color: white;">DELETE</button>         user/delete/{id}/<strong>-Delete User</strong></p>
    
    <br><p>ORDER</p>
    <p><button style="background-color: blue; color: white;">GET</button>        order/list/ <strong>-Order List</strong></p>
    <p><button style="background-color: blue; color: white;">GET</button>       order/detail/{id}/ <strong>-Order Detail</strong></p>
    <p><button style="background-color: green; color: white;">Post</button>      order/confirm/{id}/ <strong>-Confirm Order</strong></p>

    <br><p>EMAIL</p>
    <p><button style="background-color: green; color: white;">Post</button>      email/ <strong>-Send Promotional Email</strong></p>

</body>
</html>
