<!DOCTYPE html>
<html>
<head></head>
<body>
    <div class="container">
        <h2>A new order (ID: {{ order.id }}) has been placed. Please review the details:</h2>
        <h2 style="align-items: center; color: darkblue;">Order Details</h2>
        <table class="table" style="color: black;">
            <tr>
                <td><strong>    Name    </strong></td>
                <td> {{ order.user.username }}</td>
            </tr>
            <tr>
                <td><strong>    Total amount    </strong></td>
                <td> {{ order.total_amount }} Rs</td>
            </tr>
            <tr>
                <td><strong>    payment_method      </strong></td>
                <td> {{order.payment_method}}</td>
            </tr>
            <tr>
                <td><strong>    Address     </strong></td>
            </tr>
            <tr>
                <td> House Name : </td>
                <td> {{ order.address.house_name}}</td>
            </tr>
            <tr>
                <td> Place : </td>
                <td> {{ order.address.place}}</td>
            </tr>
            <tr>
                <td> Pincode : </td>
                <td> {{ order.address.pin}}</td>
            </tr>
            <tr>
                <td> Mobile number : </td>
                <td> {{ order.address.mobile_number}}</td>
            </tr>
        </table>
        <div class="text-center">
            <p><strong>      Product list        </strong></p>
            <ul>
                {% for item in order_items %}
                    <li><strong>Product:</strong> {{ item.product.name }} <strong>Quantity:</strong> {{ item.quantity }} <strong>Total:</strong> {{ item.price }}</li>
                {% endfor %}
            </ul>
            <p style="align-items: center; color: blue;">Happy Shopping!</p>
        </div>
    </div>
</body>
</html>