<!DOCTYPE html>
<html>
<body>

<p>Hello <strong>{{user}}</strong>,</p>

<p>We're excited to offer you an exclusive deal on your next purchase at  <strong>TrendCart</strong>  🎉</p>

<p>For a limited time, enjoy a fantastic 20% discount on any product of your choice. Whether you're looking for fashion, electronics, or home essentials, this discount is your chance to save on the items you love.</p>

<p>🌐 Shop Now: <a href="http://127.0.0.1:8000/app_admin/Product/list/" style="color: #ff6600;">Click here</a></p>

<p>Don't miss out on this special offer! Grab your favorite items and save big.</p>

<p style="color: skyblue;">Thank you for being a valued customer of <strong>TrendCart</strong>. We appreciate your support and look forward to serving you again soon.</p>

<p>Best regards,<br>
The <span style="color: #ff6600;">TrendCart</span> Team<br>
0466 2298450</p>

</body>
</html>