<!DOCTYPE html>
<html>
<head></head>
<body>
    <div class="container">
        <h2 style="align-items: center; color: darkblue;">Reset Password</h2>
        <table class="table" style="color: black;">
            <tr>
                <td>User Name : </td>
                <td>{{ user }}</td>
            </tr>
            <tr>
                <td>Uid :</td>
                <td>{{ uid }}</td>
            </tr>
            <tr>
                <td>Token : </td>
                <td>{{token}}</td>
            </tr>
        </table>
        <div class="text-center">
            <p>To reset your password, click the Link below:</p>
            <a href="{{ reset_url }}" class="btn btn-danger">Reset Password</a>
            <p style="align-items: center; color: blue;">Happy Shopping!</p>
        </div>
    </div>
</body>
</html>

