<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <h2>Your Order Update (ID: {{ order_id }})</h2>
        <p>Hello,</p>
        <p>We wanted to let you know that the status of your order with ID {{ order_id }} has been successfully updated.</p>
        <h3><strong>Status:</strong> {{ status }}</h3>
        <p>Thank you for choosing us for your shopping needs. We're here to assist you with any further inquiries you may have.</p>
        <p style="color: blue;">Happy Shopping!</p>
    </div>
</body>
</html>







